.ErCapture {
  position: absolute;
  height: 22px;
  font-family: "SF Pro Display Regular";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #F5222D;
}