.Radio {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.Title {
  margin-bottom: 24px;
  display: flex;
}

.Title div {
  position: relative;
}

.Title span {
  position: relative;
  left: 8px;
}

.RadioGender {
  display: flex;
  flex-wrap: nowrap;
}

.RadioGender > label:first-child {
  margin-right: 40px;
}

@media(min-width: 700px) {
  .Radio {
    width: 360px;
  }
  .RadioGender {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .RadioGender label {
    width: 50%;
  }
  .RadioGender label:first-child {
    margin-right: 0;
  }
}