.App {
  position: relative;
  display: flex;
  padding: 62px 16px 48px 16px;
  justify-content: center;
}

.Form {
  max-width: 928px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.Form h1 {
  margin: 0 0 40px 0;
  color: #262626;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
}

.Form h2 {
  margin: 0 0 24px 0;
  font-family: "SF Pro Display Regular";
  color: #262626;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
}

.PersonalInfo {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.Title {
  margin-bottom: 24px;
  display: flex;
  left: 8px;
}

@media (min-width: 700px) {
  .App {
    padding-top: 120px;
    min-height: 100vh;
  }
  .PersonalInfo div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
  }
  .PersonalInfo div label {
    margin-right: 80px;
    margin-bottom: 48px;
  }
}